@charset "UTF-8";

@font-face {
    font-family: "Barlow Condensed";
    src: url("Barlow_Condensed/BarlowCondensed-Regular.ttf");
}

@font-face {
    font-family: "Raleway";
    src: url("Raleway/Raleway-Regular.ttf");
}

body {
	margin: 0;
	background-color: #50554a;
	text-align: center;
}

body,td,th {
	font-family: Futura, Century Gothic, AppleGothic, sans-serif;
	color: white;
	line-height: 1.5em;
}

header {
	position: relative;
	top: 0;
}

#barline a:link, #barline a:visited {
	color: #696969;
	padding: 10px 10px;
	display: inline-block;
}

#barline a:hover, #barline a:active {
	background-color: #696969;
	color: white;
}

#logo {
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	height: 100px;
	width: 100px;
}

#barline {
	position: relative;
	width: 1210px;
	margin-top: 45px;
	background-color: white;
	color: #696969;
	text-align: left;
	font-family: "Segoe UI",Arial,sans-serif;
	font-size: 14px;
	overflow: hidden;
	letter-spacing: 1px;
	float: right;
}

a {
	font-size: 13pt;
	text-decoration: none;
}

a.right {
	float: right;
}

footer {
	position: relative;
	bottom: 0;
	background-color: white;
	height: 60px;
	width: 100%;
	color: #352937;
	letter-spacing: 1px;
	line-height: 1.5em;
	text-align: left;
	font-family: Futura, Century Gothic, AppleGothic, sans-serif;
}

#copyright {
	padding: 20px 20px;
	float: left;
}
				
footer a:link, footer a:visited {
	color: #696969;
	padding: 20px 20px;
	text-decoration: none;
}

footer a:hover, footer a:active {
	text-shadow: #9a9a9a 0 0 10px;
	filter: glow(color=#9a9a9a,strength=3);
}

#slogan {
	font-size: 80px;
	line-height: 1.5em;
	font-family: 'Barlow Condensed', sans-serif;
}

#content {
	width: 1000px;
  	position: relative;
    left: 0;
    right: 0;
    margin: auto;
	font-family: Futura, Century Gothic, AppleGothic, sans-serif;
    border: 1px solid white;
	border-radius: 8px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	color: white;
	text-align: left;
	line-height: 40px;
}

td {
	padding: 10px 10px 10px 10px;
	line-height: 30px;
}

a.email {
	color: white;
}

a.onlineshop {
	align: left;
	font-size: 14px;
	line-height: 1.5em;
	text-decoration: none;
	color: white;
	font-weight: bold;
}

input.kontakt, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 14px sans-serif;

    /* To give the same size to all text field */
    width: 412px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
}

input.kontakt:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}

textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 5em;

    /* To allow users to resize any textarea vertically
       It does not work on all browsers */
    resize: vertical;
}

